* {
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    font-size: 1.6rem;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

html {
    font-size: 62.5%;
}