* {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 1.6rem;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Kumbh Sans', sans-serif;
}

img {
    width: 100%;
    display: block;
}

html {
    font-size: 62.5%;
}