/* FUNDO */

body {
    background: var(--dark-cyan);
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-position: top -50vw left -50vw, bottom -40vw right -20vw;
    background-repeat: no-repeat;
    background-size: 100%, 70%;
}

/* page */

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* s-top */

.page .s-top .banner {
    max-width: 35rem;
}

.page .s-top .profile {
    max-width: 9.6rem;
}

